[Desktop Entry]
Version=1.0
Type=Application
Name=Life & Death II - The Brain
GenericName=Life and Death 2
Categories=Game;
Terminal=false
StartupNotify=true
# Hardcoded icon path is necessary since icon is not square.
Icon=/home/rodrigo/work/dosbox/games/lifedeath2.png
Exec=dosbox ld2
