[Desktop Entry]
Version=1.0
Type=Application
Name=Theme Hospital
Categories=Game;
Terminal=false
StartupNotify=true
# Hardcoded icon path is necessary since icon is not square.
Icon=/home/rodrigo/work/dosbox/games/themehospital.png
Exec=dosbox hospital
